### 1. Print numbers from 1 to 10 using a for loop:

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2.Print even numbers from 1 to 20 using a for loop:

In [2]:
# method 1:we can use that condithonl statement
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
# method 2
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 3.Print the sum of numbers from 1 to 100 using a for loop:

In [9]:
total = 0
for i in range(1, 101):
    total += i
print("Sum:", total)

Sum: 5050

### 4.Print numbers from 10 to 1 using a for loop:

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 5.Print the first 10 terms of the Fibonacci sequence using a for loop:

In [17]:
a,b=0,1
for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

### 6.Print numbers from 1 to 10 using a while loop:

In [19]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 7.Print even numbers from 1 to 20 using a while loop:

In [20]:
i=2
while i<=20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

### 8.Calculate the factorial of a number using a while loop:

In [22]:
n = 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("Factorial:", fact)

Factorial: 120

### 9.Print the multiplication table of a number using a for loop:

In [34]:
num=int(input())
for i in range(1,11):
    print(f"{num} x {i} = {num * i}")

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

### 10.Print a pattern of stars using nested for loops:

In [36]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

### 11.Find the sum of all prime numbers between 1 and 50 using a for loop:

In [42]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

total = 0
for i in range(1, 51):
    if is_prime(i):
        total += i
print("Sum of primes:", total)

Sum of primes: 328

### 11.Generate the first 10 natural numbers in reverse order using a while loop:

In [44]:
num=10
while num>=1:
    print(num)
    num -=1

10
9
8
7
6
5
4
3
2
1

### 12.Print the pattern of numbers using nested for loops:

In [49]:
for i in range(1,6):
    for j in range(1,1+i):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 13.Find the factorial of a number using a for loop:

In [52]:
num=int(input())
fact=1
for i in range(1,num+1):
    fact *= i
print("Factorial:",fact)

6
Factorial: 720

### 14.Generate the Fibonacci sequence using a while loop:

In [56]:
a,b=0,1
while a<100:
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55
89

### 16.Find the sum of all even numbers between 1 and 100 using a while loop:

In [57]:
total=0
num=2
while num<=100:
    total += num
    num +=2
print("sum",total)

sum 2550

### 17.Calculate the square of numbers from 1 to 10 using a for loop:

In [64]:
for i in range(1,11):
    square=i**2
    print(square)

1
4
9
16
25
36
49
64
81
100

### 18.Generate the first 20 multiples of 5 using a for loop:

In [65]:
for i in range(1,21):
    multiple=i*5
    print(multiple)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### 20. Find the sum of all odd numbers between 1 and 50 using a for loop:

In [70]:
total=0
for i in range(1,51,2):
    total +=i
    
print("Sum:",total)

Sum: 625

### 21. Print a pattern of stars using nested for loops:

In [73]:
for i in range(1,6):
    for j in range(1,6-i):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [74]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

### 22.Calculate the product of numbers from 1 to 10 using a while loop:

In [75]:
product=1
i=1
while i<=10:
    product=product*i
    i=i+1
print("Product:",product)

Product: 3628800

### 23. Generate a pattern of numbers using nested for loops:

In [80]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [79]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 24. Print the pattern of alphabet characters using nested for loops:

In [84]:
for i in range(65,70):
    for j in range(65,1+i):
        print(chr(j),end=" ")
        
    print()

A
A B
A B C
A B C D
A B C D E

### 25. Generate a pattern of numbers using nested for loops:

In [85]:
for i in range(1,6):
    for j in range(1,1+i):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 26.Find the sum of squares of numbers from 1 to 10 using a for loop:

In [87]:
total=0
for i in range(1,11):
    total=total+(i**2)
print("Sum of Square",total)

Sum of Square 385

### 27.Print a pattern of numbers using nested for loops:

In [89]:
for i in range(1,6):
    for j in range(1,6-i):
        print(" ",end=" ")
    for j in range(1,1+i):
        print(j,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

### 28. Calculate the cube of numbers from 1 to 10 using a for loop:

In [93]:
for i in range(1,11):
    cube=i**3
    print(f"{i} cube is {cube}")

1 cube is 1
2 cube is 8
3 cube is 27
4 cube is 64
5 cube is 125
6 cube is 216
7 cube is 343
8 cube is 512
9 cube is 729
10 cube is 1000

### 29.Generate a pattern of numbers using nested for loops:

In [94]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 30. Calculate the sum of cubes of numbers from 1 to 10 using a while loop:

In [95]:
total=0
num=1
while num<=10:
    total=total+(num**3)
    num=num+1
print("Sum of Cube:",total)

Sum of Cube: 3025

### 33. Print a pattern of numbers using nested for loops:

In [98]:
for i in range(1,6):
    for j in range(1,6-i):
        print(" ",end=" ")
    for j in range(1,1+i):
        print(i,end=" ")
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

### 34. Calculate the sum of cubes of odd numbers from 1 to 15 using a while loop:

In [100]:
num=1
total=0
while num<=15:
    total=total+(num**3)
    num=num+2
print("Cube of Odd Number:",total)

Cube of Odd Number: 8128

### 35.36. Print a pattern of numbers using nested for loops:

In [101]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(6 - i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [102]:
for i in range(65, 70):
    for j in range(65, i + 1):
        print(chr(j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [105]:
for i in range(65, 70):
    for j in range(65, i + 1):
        print(chr(i), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [106]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 37.41. Calculate the sum of squares of numbers from 1 to 20 using a while loop:

In [108]:
num=1
total=0
while num<=20:
    total=total+(num**2)
    num=num+1
print("Sum of Square of a number:",total)

Sum of Square of a number: 2870

### 42.Calculate the sum of squares of even numbers from 1 to 20 using a for loop:

In [117]:
total = 0
for i in range(2, 21, 2):
    total += i**2
print("Sum of squares of even numbers:", total)

Sum of squares of even numbers: 1540