## Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operator
- Comparison Operator
- Dictionary
- List
- Tuple
- Sets

### Boolean Variable
Boolean values are two consatant objects True and False.

they are used to represt truth value(other value can also be considerd true or false).

In numeric contexts (for Example,when used as the argument to an arithmetic operator), they behave like the inteagers 0 and 1, respectively.

In [280]:
print(True,False)

True False

In [281]:
type(True)

bool

In [282]:
my_str="Ramanand Chauhan"

In [283]:
my_str1="Ramanand12"

In [284]:
my_str1.isalnum()

True

In [285]:
my_str.isalnum()

False

In [286]:
print(my_str.capitalize())
print(my_str.casefold())
print(my_str.isalnum())# Check all the charecter are number
print(my_str.isalpha())#Check if all the char in the string are alphabetic
print(my_str.isdigit())#test if string contains digit
print(my_str.istitle())#test if string contains title word
print(my_str.isupper())#test if string contains upper case
print(my_str.islower())#test if string contain lower case
print(my_str.isspace())#test if string contains space
print(my_str.endswith("d"))#test if string end with a d
print(my_str.startswith("R"))#test if string start with R

Ramanand chauhan
ramanand chauhan
False
False
False
True
False
False
False
False
True

## Boolean and Logical Operator

In [287]:
True and False

False

In [288]:
True and True

True

In [289]:
False or True

True

In [290]:
False or False

False

In [291]:
str_example="Hello_World"
my_str="Ramanand"

In [292]:
my_str or str_example

'Ramanand'

In [293]:
my_str.isalnum() and str_example.isalnum()

False

In [294]:
my_str.isalpha() or str_example.isnumeric()

True

## List

a list is a data structure in python tha is mutable,or changable,order sequence of element.Each element or value that is inside of listis colled an iten.Just as a list is colled an item.just as string are definned a charecter between quotes ,list are defined by having values between Square brackets[]

In [1]:
list_example=[]

In [2]:
type(list_example)

list

In [3]:
First=list()

In [4]:
First=["Mathmatics","Chemistry","Physics",95,40,88]

In [5]:
type(First)

list

In [6]:
len(First)

6

In [7]:
print(First)

['Mathmatics', 'Chemistry', 'Physics', 95, 40, 88]

## Append

In [8]:
# append is used to Add a single element in end of the list
First.append("Ramanand")

In [9]:
First

['Mathmatics', 'Chemistry', 'Physics', 95, 40, 88, 'Ramanand']

In [10]:
First.append(["Shivanand","Mahanand"])

In [11]:
First

['Mathmatics',
 'Chemistry',
 'Physics',
 95,
 40,
 88,
 'Ramanand',
 ['Shivanand', 'Mahanand']]

In [12]:
# indexing In list with Spesific element
First[0]

'Mathmatics'

In [13]:
# indexing With range
First[1:5]

['Chemistry', 'Physics', 95, 40]

## Insert

In [14]:
# it insert the value with spesific position
First.insert(1,"Chauhan")

In [15]:
First

['Mathmatics',
 'Chauhan',
 'Chemistry',
 'Physics',
 95,
 40,
 88,
 'Ramanand',
 ['Shivanand', 'Mahanand']]

## extend

In [16]:
list=[1,2,3,4,5,6]

In [17]:
list.extend([8,9])

In [18]:
list

[1, 2, 3, 4, 5, 6, 8, 9]

## various operetion we can perform in list

In [19]:
list=[1,2,3,4,5,6]

In [20]:
sum(list)

21

In [21]:
list*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

## pop() method

In [22]:
# it will remove last element from list if you have  not specified index position
list.pop()

6

In [23]:
list

[1, 2, 3, 4, 5]

In [24]:
list.pop(0)

1

In [25]:
list

[2, 3, 4, 5]

### count() : Calculate total occourence of given element of list

In [26]:
list=[1,2,3,4,5,6,2,6,8,2]

In [27]:
list.count(1)

1

In [28]:
list.count(2)

3

In [29]:
len(list)

10

In [30]:
# index() 1: return the index of first Occourence.Start and end index are not neccesary parameter
list.index(2)

1

In [31]:
# Min and Max
min(list)

1

In [32]:
max(list)

8

# SETS

A set is a unorderd collection of data type that is itrable ,mutable,and has no duplicate elements .python sets class represents the mathmetical notation of a set. this is based on a data structure known as hash table. It is represented by {}

In [33]:
# defining an empty set
set_var= set()

In [34]:
set_var

set()

In [35]:
type(set_var)

set

In [36]:
set_var={1,2,3,4,5,4}

In [37]:
set_var

{1, 2, 3, 4, 5}

In [38]:
set_var={"Ramanand",'Shivanand','Mahanand'}
print(set_var)
print(type(set_var))

{'Shivanand', 'Ramanand', 'Mahanand'}
<class 'set'>

In [39]:
# set do not support indexing

In [40]:
# inbuild function in sets
set_var.add("Nandani")

In [41]:
set_var

{'Mahanand', 'Nandani', 'Ramanand', 'Shivanand'}

In [42]:
set1={"Avenger","IronMan","Hitman"}
set2={"Avenger","IronMan","Hitman","Hulk"}

In [43]:
# Difference
set2.difference(set1)

{'Hulk'}

In [44]:
set2

{'Avenger', 'Hitman', 'Hulk', 'IronMan'}

In [45]:
set2.intersection_update(set1)

In [46]:
set2

{'Avenger', 'Hitman', 'IronMan'}

# Dictionaries
A dictionaries is a collection which is unorderd,changableand indexed. In python dicttonaries are written with {} and they have a key value

In [47]:
dict={}

In [48]:
type(dict)

dict

In [49]:
dict={1,2,3,4,5}

In [50]:
type(dict)

set

In [51]:
# creating the dictionaries
dict={1:"ramanand",2:"Shivanand",3:"Mahanand"}

In [52]:
type(dict)

dict

In [53]:
# To Access the item value based on keys
dict[1]

'ramanand'

In [54]:
dict[3]

'Mahanand'

In [55]:
for i in dict:
    print(i)

1
2
3

In [36]:
for i in dict.values():
    print(i)

ramanand
Shivanand
Mahanand

In [37]:
for i in dict.items():
    print(i)

(1, 'ramanand')
(2, 'Shivanand')
(3, 'Mahanand')

In [46]:
dict[1]="Nandani"

In [47]:
dict

{1: 'Nandani', 2: 'Shivanand', 3: 'Mahanand'}

In [48]:
dict[4]="Ramanand"

In [49]:
dict

{1: 'Nandani', 2: 'Shivanand', 3: 'Mahanand', 4: 'Ramanand'}

# Nested Dictionary

In [51]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1970}
car3_model={"Ambassador":1980}

car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [52]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [53]:
## Accessing the items in the dictonary
car_type["car1"]

{'Mercedes': 1960}

In [54]:
car_type["car1"]["Mercedes"]

1960

# Tuple
Tuple is immutable

In [55]:
## Creating an empty tuple
my_tuple=tuple()
print(type(my_tuple))

<class 'tuple'>

In [56]:
my_tuple=()

In [57]:
type(my_tuple)

tuple

In [64]:
my_tuple=("Ramanand",'Shivanand',"Mahanand","Ramanand")

In [65]:
my_tuple

('Ramanand', 'Shivanand', 'Mahanand', 'Ramanand')

In [66]:
my_tuple[0]

'Ramanand'

In [67]:

my_tuple.count("Ramanand")

2

In [68]:
my_tuple.count("Mahanand")

1