## Basics Of Python

- Various DataTypes in pandas
- Variables
- Variable Assignment
- Print Formatting

### Various DataTypes in pandas

#### Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2-1

1

In [4]:
10/2

5.0

In [15]:
type(10/2)

float

In [5]:
print(int(10/2))

5

In [10]:
10* " Ramanand"

' Ramanand Ramanand Ramanand Ramanand Ramanand Ramanand Ramanand Ramanand Ramanand Ramanand'

In [11]:
5**2

25

In [12]:
## Checking the data type
type(5**2)

int

In [14]:
## Converting integer to float
print(float(5**2))

25.0

In [16]:
type(True)

bool

In [17]:
True and True

True

In [18]:
False or False

False

In [19]:
a="Ramanand"

In [20]:
print(type(a))

<class 'str'>

In [21]:
## Mathmatical Operation with the variablr assignment
a=10
b=20

In [22]:
print(a+b)
print(a/b)
print(a%b)
print(a*b)
print(a-b)

30
0.5
10
200
-10

In [23]:
## various ways of printing
print("Hello")

Hello

In [24]:
first_name="Ramanad"
last_name="Chauhan"

In [25]:
print("My first name is {}, and last name is {}".format(first_name,last_name))

My first name is Ramanad, and last name is Chauhan

In [27]:
print("My first name is {}, and last name is {}".format(last_name,first_name))

My first name is Chauhan, and last name is Ramanad

Here you can see the my name and last name printed wrong because .format(last_name,first_name) it not follow the order ,so in this case order is very importent

In [26]:
print("My first name is {first}, and last name is {last}".format(last=last_name,first=first_name))

My first name is Ramanad, and last name is Chauhan

In [28]:
## Finding the length 
a="ramanad"
len(a)

7

In [30]:
len('chauhan')

7